<!DOCTYPE html>
<html>
    
    <head>
        <title>Widoco</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- Bootstrap -->
        <link href="bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="styles.css" rel="stylesheet" media="screen">        
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
		<script src="html5shiv/html5shiv.min.js"></script>
		<script src="Respond/respond.min.js"></script>
        <![endif]-->
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                            </div>
                            <div class="block-content collapse in">
                                <div class="span4" style="float:left;">
									<a href="#"><img src="brand.png"></a>
								</div>
                                <div class="span8" style="float:left;">
									<h4>You are done!</h4>
								</div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
		<hr>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                       <li class="active">
                            <a href="index"> Step 1: Select template</a>
                        </li>
                        <li>
                            <a href="metadata"> Step 2: Load metadata</a>
                        </li>
                        <li>
                            <a href="sections"> Step 3: Load sections</a>
                        </li>
                        <li>
                            <a href="finish"> Step 4: Finish</a>
                        </li>
                    </ul>
                </div>
                <!--/span-->
                <div class="span10" id="content">
					
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
									<b>The documentation was generated successfully. Now you can:</b><br>
									<br>
									<a href="#">View the ontology documentation in your Web browser</a><br>
									<br>
								</div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
				</div>
			</div>
            <hr>
            <footer style="float:right;">
				<button data-dismiss="modal" class="btn btn-primary" onclick="window.location.href='index'">Restart</button>
				<button data-dismiss="modal" class="btn" onclick="window.location.href='finish'">Finish</button>
            </footer>
        </div>
        <!--/.fluid-container-->
        <!-- TODO:Use Bootstrp script here-->
    </body>

</html>