<!DOCTYPE html>
<html>
    
    <head>
        <title>Widoco</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- Bootstrap -->
        <link href="saddam.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
		<script src="html5shiv/html5shiv.min.js"></script>
		<script src="Respond/respond.min.js"></script>
        <![endif]-->
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
<div class="form__container">
    <div class="title__container">
		<img src="brand.png">
    </div>
    <div class="body__container">
        <div class="left__container">
            <div class="side__titles">
						<div class="title__name">
							<h3>Step 1</h3>
							<p>Select template</p>
						</div>
						<div class="title__name">
							<h3>Step 2</h3>
							<p>Load metadata</p>
						</div>
						<div class="title__name">
							<h3>Step 3</h3>
							<p>Load sections</p>
						</div>
						<div class="title__name">
							<h3>Step 4</h3>
							<p>Finish</p>
						</div>
            </div>
            <div class="progress__bar__container">
                <ul>
                    <li class="active" id="icon1">
                        <ion-icon name="person-outline"></ion-icon>
                    </li>
                    <li id="icon2">
                        <ion-icon name="person-outline"></ion-icon>
                    </li>
                    <li id="icon3">
                        <ion-icon name="person-outline"></ion-icon>
                    </li>
                    <li id="icon4">
                        <ion-icon name="person-outline"></ion-icon>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right__container">
            <fieldset id="form1">
                <div class="sub__title__container ">
                    <p>Step 1/4</p>
                    <h2>Select a template</h2>
                    <p>Choose the type of template you want to create and where to save it</p>
                </div>
                <div class="input__container"> 
                    <div class="selection newB">
							<div class="descriptionTitle"><p>Create template documentation from ontology file</p></div> 
							<input type="text" placeholder="document Path">		
                    </div>					
                    <div class="selection newB">
							<div class="descriptionTitle"><p>Create template documentation from ontology URL</p></div> 
							<input type="text" placeholder="Insert here the URL of the vocabulary">
                    </div>					
                    <div class="selection newB">
							<div class="descriptionTitle"><p>Create empty skeleton</p></div> 
                    </div>
				</div>
				<div class="input__container"> 
							<label class="name">Project name</label>
							<input class="text">							
							<label class="name">Project export location</label>
							
							<div class="buttons"><input class="text" placeholder="C:\Users\FilePlace\myDocumentation" disabled=""><a class="nxt__btn" onclick="">Browse</a>
				</div>
				<div class="input__container"> 
							<a class="nxt__btn" onclick="window.location.href='finish'"> Next</a> 
				</div>
            </fieldset>
            <fieldset class="active__form" id="form2">
                <div class="sub__title__container">
                    <p>Step 2/5</p>
                    <h2>What best describes you ?</h2>
                    <p>Please let us know what type of business best describes you as entreprenuer or businessman.</p>
                </div>
                <div class="input__container">
                    <div class="selection newB">
                        <div class="imoji">
                            <ion-icon name="happy"></ion-icon>
                        </div>
                        <div class="descriptionTitle">
                            <h3>New Business</h3>
                            <p>Started trading in last 12 months</p>
                        </div>
                    </div>
                    <div class="selection exitB">
                        <div class="imoji">
                            <ion-icon name="business"></ion-icon>
                        </div>
                        <div class="descriptionTitle">
                            <h3>Existing Business</h3>
                            <p>Have been operating beyond 12 months</p>
                        </div>
                    </div>
                    <div class="buttons"> <a class="prev__btn" onclick="prevForm();">Back</a> <a class="nxt__btn" onclick="nextForm();">Next</a> </div>
                </div>
            </fieldset>
            <fieldset class="active__form" id="form3">
                <div class="sub__title__container">
                    <p>Step 3/5</p>
                    <h2>What service are looking for ?</h2>
                    <p>Please let us know what type of business best describes you as entreprenuer or businessman.</p>
                </div>
                <div class="input__container">
                    <div class="selection newB">
                        <div class="imoji">
                            <ion-icon name="desktop"></ion-icon>
                        </div>
                        <div class="descriptionTitle">
                            <h3>Website Development</h3>
                            <p>Development of online websites</p>
                        </div>
                    </div>
                    <div class="selection exitB">
                        <div class="imoji">
                            <ion-icon name="phone-portrait"></ion-icon>
                        </div>
                        <div class="descriptionTitle">
                            <h3>Development of Mobile App</h3>
                            <p>Development of android and IOS mobile app</p>
                        </div>
                    </div>
                    <div class="buttons"> <a class="prev__btn" onclick="prevForm();">Back</a> <a class="nxt__btn" onclick="nextForm();">Next</a> </div>
                </div>
            </fieldset>
            <fieldset class="active__form" id="form4">
                <div class="sub__title__container">
                    <p>Step 4/5</p>
                    <h2>Please select your budget</h2>
                    <p>Please let us know budget for your project so yes are great that we can give the right quote thanks</p>
                </div>
                <div class="input__container"> <input type="range" min="10000" max="500000" value="250000" class="slider">
                    <div class="output__value"> </div>
                    <div class="buttons"> <a class="prev__btn" onclick="prevForm();">Back</a> <a class="nxt__btn" onclick="nextForm();">Next</a> </div>
                </div>
            </fieldset>
            <fieldset class="active__form" id="form5">
                <div class="sub__title__container">
                    <p>Step 5/5</p>
                    <h2>Complete Submission</h2>
                    <p>Thanks for completing the form and for your time.Plss enter your email below and submit the form</p>
                </div>
                <div class="input__container"> <label for="Email">Enter your email</label> <input type="text">
                    <div class="buttons"> <a class="prev__btn" onclick="prevForm();">Back</a> <a class="nxt__btn" id="submitBtn" onclick="nextForm();">Next</a> </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>