<!DOCTYPE html>
<html>
    
    <head>
        <title>Widoco</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
		<script src="html5shiv/html5shiv.min.js"></script>
		<script src="Respond/respond.min.js"></script>
        <![endif]-->
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span4" style="float:left;">
									<a href="#"><img src="brand.png"></a>
								</div>
                                <div class="span8" style="float:left;">
									<h4>Step 2: Load and comple the metadata properties of your vocabulary.
									<br>Select the languages in which the documentation will be generated</h4>
								</div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
		<hr>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                       <li class="active">
                            <a href="index"> Step 1: Select template</a>
                        </li>
                        <li>
                            <a href="metadata"> Step 2: Load metadata</a>
                        </li>
                        <li>
                            <a href="sections"> Step 3: Load sections</a>
                        </li>
                        <li>
                            <a href="finish"> Step 4: Finish</a>
                        </li>
                    </ul>
                </div>
                <!--/span-->
                <div class="span10" id="content">
					
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
									<table class="table table-hover">
									  <thead>
										<tr>
										  <th>Property</th>
										  <th>Value</th>
										</tr>
									  </thead>
									  <tbody>
										<tr>
										  <td>abstract</td>
										  <td>An example vocabulary designed to illustrate how to publish vocabularies on the Web following the FAIR principles. This vocabulary describes three simple classes with 3 properties and a data property.</td>
										</tr>
										<tr>
										  <td>ontology title</td>
										  <td>The example ontology</td>
										</tr>
										<tr>
										  <td>ontology name</td>
										  <td>The example ontology</td>
										</tr>
										<tr>
										  <td>ontology prefix</td>
										  <td>exo</td>
										</tr>
										<tr>
										  <td>ontology ns URI</td>
										  <td>https://w3id.org/example</td>
										</tr>
										<tr>
										  <td>date of release</td>
										  <td>February 5th, 2020</td>
										</tr>
										<tr>
										  <td>this version URI</td>
										  <td>https://w3id.org/example/1.0.1</td>
										</tr>
										<tr>
										  <td>1atest version URI</td>
										  <td>https://w3id.org/example</td>
										</tr>
										<tr>
										  <td>previous version URI</td>
										  <td>https://w3id.org/example/1.0.0</td>
										</tr>
										<tr>
										  <td>ontology revision</td>
										  <td>1.0.1</td>
										</tr>
										<tr>
										  <td>authors</td>
										  <td>Danie1 Garijo:..Maria.Poveda.Vi11alon:</td>
										</tr>
										<tr>
										  <td>contributors</td>
										  <td></td>
										</tr>
										<tr>
										  <td>publisher</td>
										  <td></td>
										</tr>
										<tr>
										  <td>imported ontologies</td>
										  <td></td>
										</tr>
										<tr>
										  <td>extended ontologies</td>
										  <td></td>
										</tr>
										<tr>
										  <td>license</td>
										  <td>http://creativecommons.org/licenses/by/2.0/</td>
										</tr>
										<tr>
										  <td>cite as</td>
										  <td>Daniel Garijo,Maria Poveda-Villalon. The example ontology. Revision: 1.0.1. Retrieved from: https://w3id.org/example/1.0.1</td>
										</tr>
										<tr>
										  <td>doi</td>
										  <td></td>
										</tr>
										<tr>
										  <td>status</td>
										  <td>Ontology Specification Draft</td>
										</tr>
										<tr>
										  <td>backwards compatible with</td>
										  <td>https://w3id.org/example/1.0.0</td>
										</tr>
										<tr>
										  <td>incompatible with</td>
										  <td></td>
										</tr>
									  </tbody>
									</table>
								  </div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
					
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
										<form class="form-horizontal">
											<fieldset>
												<div class="control-group">
												  <button data-dismiss="modal" class="btn" onclick="window.location.href='#'">Load from config file</button>
												  <button data-dismiss="modal" class="btn" onclick="window.location.href='#'">Save as config file</button>
												</div>
											</fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
					
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
										<form class="form-horizontal">
											<fieldset>
												<div class="control-group">
												  <label class="control-label" for="input4">Generating documentation for language: en</label>
												  <button data-dismiss="modal" class="btn" onclick="window.location.href='#'">Add Language</button>
												</div>
											</fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
					
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
										<form class="form-vertical">
											<fieldset>
												<div class="control-group">
												  <input type="checkbox" id="templateType1" name="template" value="url">
												  <label class="control-label" for="input1">Load metadata from the ontology URI or file</label>
												</div>
												<div class="control-group">
												  <input type="checkbox" id="templateType2" name="template" value="default">
												  <label class="control-label" for="input2">Load metadata from default config file</label>
												</div>
												<div class="control-group">
												  <input type="checkbox" id="templateType3" name="template" value="licensius">
												  <label class="control-label" for="input3">Use Licensius ws</label>
												</div>
											</fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
				</div>
			</div>
            <hr>
            <footer style="float:left;">
                <a href="https://w3id.org/widoco/bestPractices"> Check out our proposed metadata properties for reference</a>
            </footer>
            <footer style="float:right;">
				<button data-dismiss="modal" class="btn" onclick="window.location.href='index'">Back <</button>
				<button data-dismiss="modal" class="btn btn-primary" onclick="window.location.href='sections'">Next ></button>
				<button data-dismiss="modal" class="btn" onclick="window.location.href='finish'">Cancel</button>
            </footer>
        </div>
        <!--/.fluid-container-->
        <!-- TODO:Use Bootstrp script here-->
    </body>

</html>